<div class="body  d-flex flex-row justify-content-center">
    <div class="d-flex flex-column justify-content-center">
        <div class="text-center">
            <h1 class="SA">SA+</h1>
            <p class="paraBold">Welcome to StoneApps</p>
        </div>
        <form class="p-2 signin d-flex flex-column">
            
                <label for="username" class="paraBold">User Name</label>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <span class="error"> User Name is required</span>
                <label for="password" class="paraBold">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <span class="error"> User Name is required</span>
                <div class="text-center">
                  <button type="submit" class="button m-2">SIGN IN</button>
                </div>
              </form>
        <div class="text-center p-2 final-cont mt-2">
            <p class="paraText">By clicking Sign In, you agree to our</p>
            <p class="license" >License Agreement</p>
        </div>
    </div>
  </div>